{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Главная страница с рецептами">
    <title>Рецептики мои любимые!</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <div class="container">
        <header>
            <nav class="w3-bar w3-black">
                <a href="/" class="w3-bar-item w3-button">Главная страница</a>
                <a href="{% url 'recipe_catalog:about' %}" class="w3-bar-item w3-button">О сайте</a>
            </nav>
        </header>
        <main class="w3-container main-content">
            {% block content %}
            {% endblock %}
        </main>
        <footer class="footer">
            <p>Подвал © 2024</p>
        </footer>
    </div>
</body>

</html>